name: Actionlint

on:
  pull_request:
    paths:
      - '.github/workflows/**'
  push:
    branches: [ main, master ]
    paths:
      - '.github/workflows/**'

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run actionlint
        uses: reviewdog/action-actionlint@v1
        with:
          reporter: github-pr-check
          level: warning
          fail_on_error: true
